<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huanpet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".app.AppService"
        android:allowBackup="true"
        android:icon="@drawable/pet_icon"
        android:label="欢宠"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.HomeActivity" />

        <activity android:name=".view.know.KnowActivity" />

        <activity android:name=".view.news.NewsActivity" />

        <activity android:name=".view.order.OrderActivity" />

        <activity android:name=".view.purse.PurseActivity" />

        <activity android:name=".view.set.SetActivity" />
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:theme="@style/CityPicker.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity android:name=".view.purse.MyJifenActivity" />

        <activity android:name=".view.user.activity.UserActivity" />

        <activity android:name=".view.user.activity.ContactAddressActivity" />
        <activity android:name=".view.user.activity.ModifyTheNameActivity" />
        <activity android:name=".view.user.activity.PhoneActivity" />
        <activity android:name=".view.user.activity.QQActivity" />
        <activity android:name=".view.user.activity.WeChatActivity" />

        <activity android:name=".view.pet.PetActivity" />
        <activity android:name=".view.pet.PetAddActivity" />
        <activity android:name=".view.pet.ImmuneActivity" />
        <activity android:name=".view.pet.nicknameActivity" />
        <activity android:name=".view.pet.TypeofpetActivity" />
        <activity android:name=".view.pet.WeightActivity" />

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            tools:ignore="DuplicateActivity" />

        <activity
            android:name=".view.user.SignIn.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.user.SignIn.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme"/>

        <!-- 这里的value要替换成你项目的 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="138e5cf1e8961ae326ff0908c03d1ae1" />
    </application>

</manifest>